body {
  margin: 0px 20px 20px 20px;
  padding: 0px 20px 20px ;
  max-width: 1024px;
  -webkit-text-size-adjust: 180%;
  -moz-text-size-adjust: 180%;
  -ms-text-size-adjust: 180%;
  -o-text-size-adjust: 180%;
  text-size-adjust: 180%;
}

a:link, a:hover, a:visited {
  text-decoration: none;
  color: #1111cc;
}

/* common */
.publishdate {
  float: right;
  padding: 10px 0px 0px 4em;
  color: #c0c0c0;
}
.lastupdate {
  float: right;
  padding: 10px 0px 0px 4em;
  color: #a0a0a0;
}
header.global{
  margin: 10px 0px 0px 0px;
  padding: 0px 10px;
  border-radius: 10px;
  border-top: solid 2px #a0a0ff;
  border-left: solid 2px #a0a0ff;
}

header.global h1{
  margin: 10px 0px;
  padding: 0px 0px;
  font-size: 1.6em;
}
main {
  margin: 20px 0px;
}
nav.global{
  float: right;
  display:table-row;
  margin: 0px 0 0px 0;
}
nav.global a {
  display:table-cell;
  min-width: 160px;
  max-width: 300px;
  height: 30px;
  //background-color: #fffff0;
  border-radius: 10px;
  border-left: solid 2px #a0a0ff;
  border-right: solid 2px #a0a0ff;
  text-align: center;
  vertical-align: middle;
  
  text-decoration: none;
  font-weight: bold;
  
}
/* article_list */
section.article_list {
  border-radius: 10px;
  border-left: solid 2px #a0a0ff;
  margin: 20px 0px;
  padding: 20px;
}
section.article_list h2 {
  margin: 0 0 20px 0;
  font-size: 1.5em;
  padding-bottom:10px;
}
section.article_list ul {
  padding: 0px;
}
section.article_list ul li {
  display: table-row;
  height: 50px;
  vertical-align: bottom;
}
section.article_list ul li a {
  display: table-cell;
  height: 40px;
  //background-color: #a0a0ff;
  //text-align: center;
  border-radius: 10px;
  border-right: solid 2px #a0a0ff;
  border-bottom: solid 2px #a0a0ff;
  vertical-align: middle;
  padding: 20px 1em 10px;
  margin: 2px 0px
}
section.article_list ul li a .article_title {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}


/* article */
article.article_view {
  border-radius: 10px;
  border-left: solid 2px #a0a0ff;
  border-right: solid 2px #a0a0ff;
  margin: 20px 0px;
  padding: 10px;
}
article.article_view h2 {
  margin: 10px 0 0px 0;
  font-size: 2em;
}
article.article_view p {
  line-height: 110%;
}
article.article_view footer {
  text-align: right;
  //border-top: solid 2px #a0a0a0;
  color: #a0a0a0;
}
